body {
    margin: 0px;
    padding: 0px;
    height: 950px;
    overflow-x: hidden;
}

.wrapper {
    overflow-x: hidden;
    height: 1000px;
}

.container {
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    height: 60px;
    align-items: center;
    padding-top: 20px;
}

.sub-header-container {
    display: flex;
    align-items: center;
    padding-left: 180px;
    flex-direction: row;
    gap: 20px;
}

.header {
    font-size: 25px;
    font-family: 'PT Sans Narrow','Helvitica', sans-serif;

}

.logo {
    width: 70px;
    height: auto;
}

.step {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 50px;
    height: 90px;
}

.step-text {
    font-size: 56px;
    font-family: Raleway,sans-serif;
    font-weight: 900;
    color: rgb(72,0,124);
    color: linear-gradient(90deg, rgba(72,0,124,1) 1%, rgba(48,36,156,1) 36%, rgba(43,43,162,1) 43%, rgba(32,58,176,1) 58%, rgba(20,76,192,1) 76%, rgba(3,100,214,1) 100%);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main {
    display: flex;
    width: 1000px;
    height: auto;
}

.video-player {
    width: 958px;
    height: 539px;
}

.form-link {
    font-size: 2vw;
    font-family: 'Raleway';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.button {
    display: flex;
    height: 50px;
    flex-direction: column;
    background: rgb(72,0,124);
    background: linear-gradient(90deg, rgba(72,0,124,1) 1%, rgba(48,36,156,1) 36%, rgba(43,43,162,1) 43%, rgba(32,58,176,1) 58%, rgba(20,76,192,1) 76%, rgba(3,100,214,1) 100%);
    border-radius: 60px;
    justify-content: center;
    width: 700px;
    height: 97px;
    align-items: center;
    margin-top: 50px;
    -webkit-box-shadow: 1px 12px 24px -6px rgba(250,125,125,1);
    -moz-box-shadow: 1px 12px 24px -6px rgba(250,125,125,1);
    box-shadow: 1px 12px 24px -6px rgba(250,125,125,1);
    gap: 5px;
}

.button-top {
    color: aliceblue;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}

.button-bottom {
    color: aliceblue;
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    text-align: center;
}

.button-sub-container {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 60px;
}

a:hover {
    opacity: 0.85;
}

video {
    border: solid rgb(72,0,124) 3px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

/* SAFARI COMPATIBILITY */

* {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/*RESPONSIVENESS*/

@media (min-width: 1319px) {
    .sub-header-container {
        padding-left: 180px;
    }
}

@media (max-width: 1318px) {
    .sub-header-container {
        padding-left: 120px;
    }
}

@media (max-width: 1219px) {
    .sub-header-container {
        padding-left: 40px;
    }
}

@media (max-width: 1033px) {
    .header-container {
        justify-content: center;
        padding-bottom: 50px;
    }
    .sub-header-container {
        padding-left: 0px;
    }
}

@media (max-width: 977px) {
    .step {
        width: 100%;
    }

    .step-text {
        font-size: 48px;
    }

    .video-player {
        width: 800px;
    }

    body {
        height: 1020px;
        overflow-x: hidden;
    }
}

@media (max-width: 829px) {
    .step {
        width: 100%;
    }

    .step-text {
        font-size: 44px;
    }

    .video-player {
        width: 700px;
        height: auto;
    }

    body {
        height: 1020px;
        overflow-x: hidden;
    }
}

@media (max-width: 742px) {
    .step {
        width: 100%;
    }

    .step-text {
        font-size: 48px;
    }

    .video-player {
        width: 600px;
        height: auto;
    }

    body { 
        height: auto;
        overflow: hidden;
    }
}

@media (max-width:788px) {
    .step {
        width: 100%;
    }

    .step-text {
        font-size: 38px;
    }

    .video-player {
        width: 500px;
        height: auto;
    }

    .button-container  {
        width: 100%;
    }

    .button {
        width: 400px;
    }

    .button-top {
        font-size: 22px;
    }

    .button-bottom {
        font-size: 12px;
        font-weight: bold;
    }

    body { 
        height: auto;
        overflow-x: hidden;
    }
}



@media (max-width: 742px) {
    .step {
        width: 100%;
    }

    .step-text {
        font-size: 38px;
    }

    .video-player {
        width: 600px;
        height: auto;
    }

    body { 
        height: auto;
        overflow: hidden;
    }
}

@media (max-width:700px) {
    .step {
        width: 100%;
    }

    .step-text {
        font-size: 33px;
    }

    .video-player {
        width: 400px;
        height: auto;
    }

    .button-container  {
        width: 100%;
    }

    .button {
        width: 400px;
    }

    .button-top {
        font-size: 22px;
    }

    .button-bottom {
        font-size: 12px;
        font-weight: bold;
    }

    body { 
        height: auto;
        overflow-x: hidden;
    }
}

@media (max-width: 742px) {
    .step {
        width: 100%;
    }

    .step-text {
        font-size: 33px;
    }

    .video-player {
        width: 600px;
        height: auto;
    }

    body { 
        height: auto;
        overflow: hidden;
    }
}

@media (max-width:549px) {
    .step {
        width: 100%;
    }

    .step-text {
        font-size: 28px;
    }

    .video-player {
        width: 500px;
        height: auto;
    }

    .button-container  {
        width: 100%;
    }

    .button {
        width: 400px;
    }

    .button-top {
        font-size: 22px;
    }

    .button-bottom {
        font-size: 12px;
        font-weight: bold;
    }

    body { 
        height: auto;
        overflow-x: hidden;
    }
}

@media (max-width:512px) {
    .step {
        width: 100%;
    }

    .step-text {
        font-size: 25px;
    }

    .video-player {
        width: 400px;
        height: auto;
    }

    .button-container  {
        width: 100%;
    }

    .button {
        width: 400px;
    }

    .button-top {
        font-size: 22px;
    }

    .button-bottom {
        font-size: 12px;
        font-weight: bold;
    }

    body { 
        height: auto;
        overflow-x: hidden;
    }
}

@media (max-width: 421px) {
    .step {
        width: 100%;
    }

    .step-text {
        font-size: 22px;
    }

    .video-player {
        width: 370px;
        height: auto;
    }

    .button-container  {
        width: 100%;
    }

    .button {
        width: 300px;
    }

    .button-top {
        font-size: 17px;
    }

    .button-bottom {
        font-size: 10px;
        font-weight: bold;
    }

    body { 
        height: auto;
        overflow-x: hidden;
    }
}

@media (max-width: 388px) {
    .step {
        width: 100%;
    }

    .step-text {
        width: 100%;
        font-size: 26px;
        text-align: center;
    }

    .video-player {
        width: 100%;
        height: auto;
        width: -webkit-fill-available;
    }

    .button-container  {
        width: 100%;
    }

    .button {
        width: 250px;
    }

    .button-top {
        font-size: 15px;
    }

    .button-bottom {
        font-size: 8px;
        font-weight: bold;
    }

    body { 
        height: auto;
        overflow-x: hidden;
    }
}